@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* Global Styles Start */

h1{
    font-size: 3.125rem;
    line-height: 4rem;
    color: #222;
}

h2{
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: #222;
}

h4 {
    font-size: 2rem;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 0.75rem;
  }
  
  p {
    font-size: 1rem;
    color: #465b52;
    margin: 0.938rem 0 1.25rem 0;
  }
  
  .section-p1 {
    padding: 2.5rem 5rem;
  }
  
  .section-m1 {
    margin: 0.25rem 0;
  }
  
  body {
    width: 100%;
  }

  /* Global Styles End */

  /* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

  /* Header End */